body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background-color: #3580e3;
  height: 90px;
  color: white;
  font-family:  'Impact';
  font-size: 25px;
  border-top: 20px solid #1676c4;
}


header h1 {
  margin: 0px;
  position: absolute;
  top: 35px;
  left: 90px;
}

#dccLogo {
  height: 70px;
  width: 70px;
  margin: 10px;
}

.main-container {
  height: calc(100vh - 160px;)
}

.left-column {
  float: left;
  background-color: white;
  height: 1000px;
  width: 19%;
  border-right: 1px solid Black;
}

.select-hero:nth-child(2n) {
  background-color: #7daff1;
}

.left-column h1 {
  text-align: center;
}

.left-column nav {
  float: left;
  text-decoration: none;
  font-family: 'Arial';
  color: black;
}

.left-column a:link, a:hover {
  text-decoration: none;
  color: #7daff1;
}

.textHeaders {
  font-family: 'Arial';
}

#list-teams {
  list-style-type: none;
  margin: 1px;
}

.center-column {
  float: left;
  background-color: white;
  height: 1000px;
  width: 35%;
  text-align: center;
  overflow-y: auto;
  border-right: 1px solid Black;
}

.right-column {
  float: left;
  background-color: white;
  height: 1000px;
  width: 873px;
  overflow-y: auto;
}

.select-hero {
  margin: 6px;
  width: 630px;
  height: 300px;
  background-color: white;
  border: 1px solid Grey;
}

.hero-image {
  float:  left;
  height: 300px;
  width: 200px;
}

.moreInfo-button {
  background-color: #1676c4;
  height: 50px;
  width: 430px;
  float: right;
  position: relative;
  bottom: 1px;
  right: 0;
  font-family: 'Arial';

}

#banner-image img {
  width: 100%;
  height: 300px;

}

#chooseTeam a:hover {
  color: yellow;
}

.hero-profilepicture {
  width: 200px;
  height: 200px;
  border-radius: 45%;
  position: absolute;
  top: 180px;
  left: 73%;

}

.hero-information {
  float: left;
  margin-left: 10px;
}

/* Ratings widget */
@font-face
{
    font-family: 'anudawitalic';
    src: url('../fonts/anudi-webfont.woff2') format('woff2'),
         url('../fonts/anudi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face
{
    font-family: 'anudawregular';
    src: url('../fonts/anudrg-webfont.woff2') format('woff2'),
         url('../fonts/anudrg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

form.frmRate
{
	margin: 10px auto;
}

.rate {
    float: left;
}


/* Hide radio */
.rate > input[type='radio']
{
    display: none;
}

/* Order correctly by floating highest to the right */
.rate > label.lblRating
{
    float: right;
}

/* The star of the show */
.rate > label.lblRating:before
{
    display: inline-block;
    font-size: 60px;
    padding: 5px;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}

/* Zero stars rating */
.rate > label.lblRating:last-child:before
{
    content: "\f006 "; /* empty star outline */
}

/* Half star trick */
.rate label.half:before
{
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}

/* Click + hover color */
input:checked ~ label.lblRating,
label.lblRating:hover, label.lblRating:hover ~ label
{
	color: #ffd900;
}

/* Hover highlights */
input:checked + label.lblRating:hover, input:checked ~ label.lblRating:hover, /* highlight current and previous stars */
input:checked ~ label.lblRating:hover ~ label.lblRating, /* highlight previous selected stars for new rating */
label.lblRating:hover ~ input:checked ~ label.lblRating /* highlight previous selected stars */
{
	color: #f0cc00;
}

.divSubmit
{
	display: block;
	width: 250px;
	height: 100%;
}

.divSubmit > input[type='submit']
{
	width: 180px;
	height: 60px;
	font-family: anudawregular;
	font-size: 20px;
	border: 1px solid #000;
}

.divSubmit > input[type='submit']:hover
{
	background-color: #f0cc00;
	color: #000000;
	cursor: pointer;
	border: 1px solid #000;
}
